<h3>Add new person</h3>
<form method="POST" action="/person/add">  

    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Submit">

</form>

<h3>Persons</h3>
<ul>
<% personsList.forEach(function(person){ %>

    <li><%= person.name %></li>

<% }) %>
</ul>